body{
    background-color: black;
}

.initials{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

.initials-info{
    margin-top: 10px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.options-container{
    background-color: black;
    padding: 30px;
}

.options-container ul {
    display: grid; 
    grid-template-columns: repeat(5, 1fr); 
    gap: 16px; 
    list-style: none; 
    padding: 0;
    margin: 16px 0;
}
